body {
    display: flexbox;
    background-color: darkslateblue;
    background-color: rgb(40, 50, 120);
    background-color: rgb(10, 5, 10);
    color: azure;
    font-family: "eurostile",sans-serif;
}

::selection {
    background: rgba(48, 36, 47, 0.5);
    color: #EBF0FF;
}

.new-button {
    border-radius: 8px;
    border-left-color: darkred;
    border-right-color: darkred;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 3px;
}

.new-button:hover {
    background-color: darkslategray;
    color: darkgrey;
    border-width: 2px;
}

.title {
    text-align: right;
    color: gainsboro;
    font-size: 120px;
    font-size: 15vh;
    font-style: italic;
    margin: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

.contact-form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: goldenrod;
    font-weight: bold;
}

.index-nav {
    margin: 50px;
}

#nav-item {
    text-decoration: none;
    font-size: 9vh;
    color: silver;
    display: block;
    justify-content: left;
    padding: 0.1vh;
    text-transform: lowercase;
    /* font-family: Square721Cond,Helvetica,Arial,sans-serif; */
    font-family: "eurostile",sans-serif;
    opacity: 1;
}

.index-nav:hover > #nav-item:hover {
    color: crimson;
    color: rgb(60,20,220);
    opacity: 1;
    transition: opacity 300ms ease-out;
}

.index-nav:hover > #nav-item:hover::selection {
    background: rgba(48, 36, 47, 0.5);
    color: #13328f;
    opacity: 1;
    transition: opacity 300ms ease-out;
    
}

.index-nav:hover > #nav-item {
    opacity: 0.4;
    transition: opacity 500ms ease-in-out;
}

.section {
    text-align: left;
    color: gainsboro;
    font-size: 120px;
    font-style: italic;
    margin: 40px;
    text-transform: lowercase;
    font-weight: 600;
    margin-left: 40px;
    letter-spacing: 2px;
}

footer {
    text-align: end;
    font-size: 3vh;
}